# Banco de dados SQLite local
database.db
database.db-journal
*.db
*.db-journal

# Instalador / build
dist/
backups/
*.exe
*.blockmap
*.yml

# Node modules
node_modules/

# Logs
*.log
npm-debug.log*

# Sistema operacional
.DS_Store
Thumbs.db